InlayHints:              # 代码提示设置部分
  Enabled: true          # 启用代码提示
  ParameterNames: true   # 显示参数名称提示
  DeducedTypes: true     # 显示推断类型提示
  Designators: true      # 显示设计器提示

CompileFlags:            # 编译标志部分
  Add:
    - "-Wall"           # 启用所有警告
    - "-I${projectDir}/"   
    - "-I${projectDir}/src/"   
    - "-isystemF:/include"

Diagnostics:
  Suppress: ['drv_unknown_argument', 'unused-includes', 'pp_file_not_found']